@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "OpenDyslexic";
  src: url("../fonts/OpenDyslexic-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* MarkDown content in Modal */
.markdown-content h2 {
  @apply text-2xl font-bold mb-4 mt-6 block text-black;
}

.markdown-content h3 {
  @apply text-xl font-bold mb-3 mt-5 block text-black;
}

.markdown-content ul {
  list-style-type: disc !important;
  padding-left: 1.5rem !important;
  margin-bottom: 1rem !important;
  @apply text-left;
}

.markdown-content li {
  display: list-item !important;
  @apply mb-1 text-left;
}

.markdown-content p {
  @apply mb-4 leading-relaxed text-left;
}

.markdown-content a {
  @apply font-bold underline text-amber-900;
}
